<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Declara que o app precisa acessar o Google Wallet -->
    <queries>
        <package android:name="com.google.android.apps.walletnfcrel" />
    </queries>

     <!-- Declara que o app precisa acessar o Samsung Wallet -->
    <queries>
        <package android:name="com.samsung.android.spay" />
    </queries>
</manifest>
